{% extends '../layouts/default.html' %}

{% block main %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script>
  $(document).ready(function () {
    $('#bikeDelete').click(function(){
      var csrf = $("#csrf").val();
      console.log(csrf);
      $.ajax({
        url: "/bikes/users/56372230faf540174aff15ed",
        type: 'DELETE',
        data: {"_csrf": csrf},

        success: function(data){
          console.log(data);
        },
      });
    });

    $('#commentsCreate').click(function(){
      var csrf = $("#csrf").val();
      console.log(csrf);
      $.ajax({
        url: "/comments/56372230faf540174aff15ed",
        type: 'POST',
        data: {"_csrf": csrf},

        success: function(result){
          console.log("자전거 후기 입력",result);
        },
      });
    });

    $('#bikeEdit').click(function(){
      var csrf = $("#csrf").val();
      console.log(csrf);
      $.ajax({
        url: "/bikes/users/56372230faf540174aff15ed",
        type: 'PUT',
        data: {"_csrf": csrf},

        success: function(result){
          console.log("자전거 수정",result);
        },
      });
    });

    $('#userEdit').click(function(){
      var csrf = $("#csrf").val();
      console.log(csrf);
      $.ajax({
        url: "/users/563721f0faf540174aff15ec",
        type: 'PUT',
        data: {"_csrf": csrf},

        success: function(result){
          window.location.href = "/users/563721f0faf540174aff15ec";
        },
      });
    });

    $('#bikeActive').click(function(){
      var csrf = $("#csrf").val();
      console.log(csrf);
      $.ajax({
        url: "/bikes/active/56372230faf540174aff15ed",
        type: 'PUT',
        data: {"_csrf": csrf},

        success: function(result){
          console.log("자전거 수",result);
        },
      });
    });

  });
</script>
<li class="{% if (isActive('/users/' + req.user.id )) %}active{% endif %}">
  <a href="{{ '/users/' + req.user.id }}" title="Profile">Profile</a>
  <h2>{{req.user.id}}</h2>
</li>
<form action="/bikes/users" method="post">
  <input type="hidden"  id="csrf" name="_csrf" value="{{ csrf_token }}">
  <input type="submit" value="자전거 추가">
  <input type="button" id="bikeDelete" value="자전거 삭제">
  <input type="button" id="commentsCreate" value="자전거 후기 입력">
  <input type="button" id="bikeEdit" value="자전거 수정">
  <input type="button" id="userEdit" value="사용자정보 수정">
  <input type="button" id="bikeActive" value="자전거 활성화/비활성화">
</form>

<ul>
  <li><a href="/comments">내평가 보기</a></li>
  <li><a href="/comments/56372230faf540174aff15ed">자전거 후기 보기</a></li>
  <li><a href="/bikes/users">보유 자전거 조회</a></li>
  <li><a href="/bikes"> 자전거 전체 조회</a></li>
</ul>


{% endblock %}
