<!DOCTYPE html>
<html lang="en">
<head>
	<% include ../partials/head %>
</head>
<body class="container">
<div class="container">
	<header>
		<% include ../partials/header %>
	</header>

	<main>
		<div class="main">
			<%if(type =="index"){%>
				<div class="jumbotron">
					<h1>BIKEE</h1>
					<p>Welcome to BIKEE</p>
				</div>
			<%}else if(type =="login"){%>
				<% include ../partials/login%>
			<%}else if(type=="authinfo"){%>
				<% include ../partials/authinfo%>
			<%}else if(type=="show"){%>
				<% include ../partials/show%>
			<%}else if(type=="signup"){%>
				<% include ../partials/signup%>
			<%}else if(type=="detail"){%>
				<% include ../partials/detail%>
			<%}else if(type=="profile"){%>
				<% include ../partials/profile%>
			<%}else if(type=="myList"){%>
				<% include ../partials/myList%>
			<%}else if(type=="comment"){%>
				<% include ../partials/comment%>
			<%}else if(type=="auth"){%>
				<% include ../partials/auth%>
			<%}%>
		</div>
	</main>

	<footer>
		<% include ../partials/footer %>
	</footer>
</div>
</body>
</html>